.switch {
  position: relative;
  width: 51px;
  height: 31px;
  
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: var(--Fills_Accent-Primary);
  border-radius: 17px;
  padding: 2px;
  transition: all 0.4s cubic-bezier(0.2, 0.01, 0, 1);
  display: flex;
}

.slider::before {
  content: "";
  min-height: 27px;
  min-width: 27px;
  background-color: var(--Grays-White);
  border-radius: 50%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  transition: all 0.4s cubic-bezier(0.2, 0.01, 0, 1);
}

input:checked + .slider {
  background-color: var(--Colors-Blue);
}

input:checked + .slider::before {
  margin-left: 20px;
}

/* Стиль для отключенного переключателя */
.switch.disabled .slider {
  opacity: 0.6;
  cursor: not-allowed;
}

.switch.disabled input {
  cursor: not-allowed;
}