.Row-Group {
    flex-direction: column;
    gap: 0;
    background-color: var(--Background-Primary);
    border-radius: 21px;
    overflow: hidden;
    width: 100%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.02);
    overflow: hidden;
}

.Row-Groups {
    flex-direction: column;
    gap: 16px;
}

.Row {
    display: flex;
    padding-left: 16px;
    gap: 10px;
    width: 100%;
    height: 46px;
    align-items: center;
    position: relative;
    flex-direction: row;
}

.Row-Link {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}

.Row-Icon {
    color: var(--Colors-Blue);
    min-width: 26px;
    min-height: 26px;
}

.Row-Content {
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.33px solid var(--Separators-Primary);
}

/* Trailing */
.Row:last-child .Row-Content {
    border-bottom: none;
}

.Row-Content-Title {
    color: var(--Labels-Primary);
}

@media (hover: none) and (pointer: coarse) {
    .Row {
        -webkit-tap-highlight-color: #2689eb13;
    }
}

/* Trailing */
.Row-Trailing {
    padding-right: 16px;
    flex-direction: row;
    align-items: center;
}

/* Switch */
.Row-Trailing-Type-Switch .Row-Trailing-Disclosure,
.Row-Trailing-Type-Switch .Row-Trailing-Detail {
    display: none;
}

.Row-Trailing-Type-Switch .Row-Link {
    display: none;
}

/* Disclosure */
.Row-Trailing-Type-Disclosure .Row-Trailing-Switch,
.Row-Trailing-Type-Disclosure .Row-Trailing-Detail {
    display: none;
}

.Row-Trailing-Type-Disclosure .Row-Trailing-Disclosure svg {
    color: var(--Labels-Tertiary);
    max-width: 20px;
    max-height: 20px;
}

/* Detail */
.Row-Trailing-Type-Detail .Row-Trailing-Disclosure,
.Row-Trailing-Type-Detail .Row-Trailing-Switch {
    display: none;
}

.Row-Trailing-Type-Detail .Row-Trailing-Detail {
    flex-direction: row;
    gap: 2px;
    align-items: center;
}

.Row-Trailing-Type-Detail .Row-Trailing-Detail p {
    color: var(--Labels-Tertiary);
}

.Row-Trailing-Type-Detail .Row-Trailing-Detail svg {
    color: var(--Colors-Blue);
    max-width: 20px;
    max-height: 20px;
}